body{
    font-family: "Avenir Next";
}

.header{
    background: #26d0c9;
    height: 90px;
}

.header .hlogo{
    position: relative;
    padding: 20px 40px;
    font-size: 45px;
    float: left;
}

.header .vpadding{
    position: absolute;
    color: #00FFFF;
    background: #00FFFF;
    font-size: 45px;
    padding: 20px 40px;
}

.header .hlist li{
    list-style: none;
    float: left;
    padding :35px 20px;
}

.main{
    background-color: #bdf7f1;
    padding: 100px 80px;
}

.contents{
    height: 500px;
}

.SectionTitle{
    border-bottom: 5px solid #00008B;
}

.content-items{
    float: left;
}

.main .copy-container{
    background-color: #E0FFFF;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 50px;
}

.copy-container span{
    color: #ff4a4a;
}