body{
    font-family: "Avenir Next";
}

.header{
    background: #26d0c9;
    height: 90px;
}

.header .hlogo{
    position: relative;
    padding: 20px 40px;
    font-size: 45px;
    float: left;
}

.header .vpadding{
    position: absolute;
    color: #00FFFF;
    background: #00FFFF;
    font-size: 45px;
    padding: 20px 40px;
}

.header .hlist li{
    list-style: none;
    float: left;
    padding :35px 20px;
}

.footer{
    background-color: #ceccf3;
    height: 120px;
    padding: 40px;
}

.footer .flogo{
    font-size: 32px;
    float: left;
}

.footer .flist{
    float: right;
}

.footer .flist li{
    list-style: none;
    padding-bottom: 20px;
}